@page
@model AspenDelta.com.wwwroot.Flexjet_SeniorSoftwareEngineerModel
@{
}
<div class="">
    <h1 class="display-4">Thank You</h1>
    <h2>Good afternoon, Chad and Jerod,</h2>
    <p>Thank you for taking the time to speak with me on 9/18.</p>
    <p></p>
    <p>
       
    </p>
    <p>Thank you,</p>
    <p>
        <strong>Kevin Ulrich</strong><br />
        <a href="mailto:kevin.ulrich@achillesinteractive.com">kevin.ulrich@achillesinteractive.com</a><br>
        <a href="tel:+1-214-280-9185">214-280-9185</a>
    </p>
</div>